{% extends '@App/layout.html.twig' %}

{% block body %}
        <h1 class="alert alert-danger">404 not found</h1>
{% endblock %}
{% block title %}
{% endblock %}
{% block stylesheets %}
{% endblock %}
