{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Products list</h1>
    {% for product in products %}
        <a href="{{ path('product_item', {'id': product.id}) }}">Product {{ product.id }} : {{ product.title }}</a><br>
    {% endfor %}
{% endblock %}
{% block title %}
{% endblock %}
{% block stylesheets %}
{% endblock %}
