{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="starter-template">
        <h1>feedback</h1>
        {{ form_start(feedback_form) }}
            {{ form_row(feedback_form.email) }}
        {{ form_end(feedback_form) }}
    </div>
{% endblock %}
{% block title %}
{% endblock %}
{% block stylesheets %}
{% endblock %}
