{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="starter-template">
        <h1>feedback</h1>
    </div>
{% endblock %}
{% block title %}
{% endblock %}
{% block stylesheets %}
{% endblock %}
